{% extends 'base.html.twig' %}
{% block body %}
    <div class="container" style="background-color:white; text-align:center; padding-left: 100px; padding-right: 30px;">
      <h2 style="color: #a700ab;">Choisis le thême de ton atelier !</h2>
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <p style="text-align: left;">Clique sur chaque thème pour découvrir ses secrets :
          projets proposés, exemples de réalisations,
          niveaux de difficulté, et réserve celui qui te plaît le plus !
          Tu retrouveras certains projets dans plusieurs catégories.
          Par exemple les vide-poches sont à la fois des accessoires pour chez toi et des projets initiation !</p>
        </div>
        <div class="col-md-2"></div>
      <div class="col-md-5 purpleBorderContainer" style="margin-left:20px; margin-right:20px; text-align: left; background-color: #F5F5F5;">
        <div class="col-md-6">
          <img height="50px" width="50px" style="background-color: grey;"/><br/>
          <button type="button" class="btn btn-primary">Achat rapide</button><br/>
          <button type="button" class="btn btn-info">Achat presonnalisé</button>
        </div>
        <div class="col-md-6">
          <p>Initiation à la couture</p>
          <p>DESCRIPTION</p>
        </div>
      </div>

      <div class="col-md-5 purpleBorderContainer" style="margin-left: 20px; margin-right:20px; text-align: left; background-color: #F5F5F5;">
        <div class="col-md-6">
          <img height="50px" width="50px" style="background-color: grey;"/><br/>
          <button type="button" class="btn btn-primary">Achat rapide</button><br/>
          <button type="button" class="btn btn-info">Achat presonnalisé</button>
        </div>
        <div class="col-md-6">
          <p>Vêtements Bébé</p>
          <p>DESCRIPTION</p>
        </div>
      </div>

      <div class="col-md-5 purpleBorderContainer" style="margin-left: 20px; margin-right:20px; text-align: left; background-color: #F5F5F5;">
        <div class="col-md-6">
          <img height="50px" width="50px" style="background-color: grey;"/><br/>
          <button type="button" class="btn btn-primary">Achat rapide</button><br/>
          <button type="button" class="btn btn-info">Achat presonnalisé</button>
        </div>
        <div class="col-md-6">
          <p>Vêtements Enfant</p>
          <p>DESCRIPTION</p>
        </div>
      </div>

      <div class="col-md-5 purpleBorderContainer" style="margin-left: 20px; margin-right:20px; text-align: left; background-color: #F5F5F5;">
        <div class="col-md-6">
          <img height="50px" width="50px" style="background-color: grey;"/><br/>
          <button type="button" class="btn btn-primary">Achat rapide</button><br/>
          <button type="button" class="btn btn-info">Achat presonnalisé</button>
        </div>
        <div class="col-md-6">
          <p>Accessoires Bébé / Enfant</p>
          <p>DESCRIPTION</p>
        </div>
      </div>

      <div class="col-md-5 purpleBorderContainer" style="margin-left: 20px; margin-right:20px; text-align: left; background-color: #F5F5F5;">
        <div class="col-md-6">
          <img height="50px" width="50px" style="background-color: grey;"/><br/>
          <button type="button" class="btn btn-primary">Achat rapide</button><br/>
          <button type="button" class="btn btn-info">Achat presonnalisé</button>
        </div>
        <div class="col-md-6">
          <p>Vêtements Femme</p>
          <p>DESCRIPTION</p>
        </div>
      </div>

      <div class="col-md-5 purpleBorderContainer" style="margin-left: 20px; margin-right:20px; text-align: left; background-color: #F5F5F5;">
        <div class="col-md-6">
          <img height="50px" width="50px" style="background-color: grey;"/><br/>
          <button type="button" class="btn btn-primary">Achat rapide</button><br/>
          <button type="button" class="btn btn-info">Achat presonnalisé</button>
        </div>
        <div class="col-md-6">
          <p>Vêtements Homme</p>
          <p>DESCRIPTION</p>
        </div>
      </div>
    </div>
{% endblock %}
