{% extends 'base.html.twig' %}
{% block body %}
    <div class="container" style="background-color:rgba(255, 255, 255, 0.7); text-align:center; padding-left: 100px; padding-right: 30px;">
      <h2 style="color: #035682">Choisis le thême de ton atelier !</h2>
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <p style="text-align: left;">Clique sur chaque thème pour découvrir ses secrets :
          projets proposés, exemples de réalisations,
          niveaux de difficulté, et réserve celui qui te plaît le plus !
          Tu retrouveras certains projets dans plusieurs catégories.
          Par exemple les vide-poches sont à la fois des accessoires pour chez toi et des projets initiation !</p>
        </div>
        <div class="col-md-2"></div>
      <div class="col-md-5 blueBorderContainer" style="margin-left:20px; margin-right:20px; text-align: left">
        <div class="col-md-6">
          <img height="100px" width="100px" style="background-color: grey; margin-bottom: 10px;"/><br/>
          <button type="button" class="darkBlueButton" style="margin-bottom: 5px;">Achat rapide</button><br/>
          <button type="button" class="lightBlueButton">Achat presonnalisé</button>
        </div>
        <div class="col-md-6">
          <p>Initiation à la couture</p>
          <p>DESCRIPTION</p>
        </div>
      </div>

      <div class="col-md-5 blueBorderContainer" style="margin-left: 20px; margin-right:20px; text-align: left;">
        <div class="col-md-6">
          <img height="100px" width="100px" style="background-color: grey; margin-bottom: 10px;"/><br/>
          <button type="button" class="darkBlueButton" style="margin-bottom: 5px;">Achat rapide</button><br/>
          <button type="button" class="lightBlueButton">Achat presonnalisé</button>
        </div>
        <div class="col-md-6">
          <p>Vêtements Bébé</p>
          <p>DESCRIPTION</p>
        </div>
      </div>

      <div class="col-md-5 blueBorderContainer" style="margin-left: 20px; margin-right:20px; text-align: left;">
        <div class="col-md-6">
          <img height="100px" width="100px" style="background-color: grey; margin-bottom: 10px;"/><br/>
          <button type="button" class="darkBlueButton" style="margin-bottom: 5px;">Achat rapide</button><br/>
          <button type="button" class="lightBlueButton">Achat presonnalisé</button>
        </div>
        <div class="col-md-6">
          <p>Vêtements Enfant</p>
          <p>DESCRIPTION</p>
        </div>
      </div>

      <div class="col-md-5 blueBorderContainer" style="margin-left: 20px; margin-right:20px; text-align: left;">
        <div class="col-md-6">
          <img height="100px" width="100px" style="background-color: grey; margin-bottom: 10px;"/><br/>
          <button type="button" class="darkBlueButton" style="margin-bottom: 5px;">Achat rapide</button><br/>
          <button type="button" class="lightBlueButton">Achat presonnalisé</button>
        </div>
        <div class="col-md-6">
          <p>Accessoires Bébé / Enfant</p>
          <p>DESCRIPTION</p>
        </div>
      </div>

      <div class="col-md-5 blueBorderContainer" style="margin-left: 20px; margin-right:20px; text-align: left;">
        <div class="col-md-6">
          <img height="100px" width="100px" style="background-color: grey; margin-bottom: 10px;"/><br/>
          <button type="button" class="darkBlueButton" style="margin-bottom: 5px;">Achat rapide</button><br/>
          <button type="button" class="lightBlueButton">Achat presonnalisé</button>
        </div>
        <div class="col-md-6">
          <p>Vêtements Femme</p>
          <p>DESCRIPTION</p>
        </div>
      </div>

      <div class="col-md-5 blueBorderContainer" style="margin-left: 20px; margin-right:20px; text-align: left;">
        <div class="col-md-6">
          <img height="100px" width="100px" style="background-color: grey; margin-bottom: 10px;"/><br/>
          <button type="button" class="darkBlueButton" style="margin-bottom: 5px;">Achat rapide</button><br/>
          <button type="button" class="lightBlueButton">Achat presonnalisé</button>
        </div>
        <div class="col-md-6">
          <p>Vêtements Homme</p>
          <p>DESCRIPTION</p>
        </div>
      </div>
    </div>
{% endblock %}
