{% extends 'base.html.twig' %}

{% block body %}
  <img src="{{ asset('images/MICT/carrousel/test.jpg') }}" style="height: 400px;  width: 500px;"/>
  <hr/>
  <h1 class="centered"> C'est quoi ? </h1>
  <h2 class="centered"> Les seuls ateliers couture chez toi, entre amis, 100% tout inclus ! </h2>
{% endblock %}
