{% extends 'base.html.twig' %}

{% block body %}
<div class="container" style="background-color:white; text-align:center; padding-right: 30px;">
  <h2 style="color: #a700ab;">Les offres MadeInChezToi</h2>
  <div class="col-md-offset-2 col-md-8">
    <p style="text-align: left;">Decouvrez ici tous ce que nous vous proposons !</p>
    </div>


  <div class="col-md-12 blueBorderContainer atelier" style="margin-left:20px; margin-right:20px; text-align: left; background-color: #F5F5F5;">
    <div class="col-md-2">
      <img height="50px" width="50px" style="background-color: grey;"/><br/>
      <button type="button" class="btn btn-primary">Les thèmes</button><br/>
      <button type="button" class="btn btn-info">Reservation</button>
    </div>
    <div class="col-md-10">
      <h2 class='text-center'>Les ateliers</h2>
      <label>Durée     -     </label> <label> NBPersones           -    </label> <label>Cadre       -   </label> <label>Lieu</label>
      <br/>
      L'essence même de Made in chez toi, c'est de coudre ensemble, de partager de bons moments avec ses amis ou avec de nouvelles connaissances, le tout dans un environnement agréable et cosy.
      Les ateliers, c'est l'expression naturelle de ce concept. On se retrouve tous chez toi, ou lui, ou elle, dans un salon ou un séjour -- ce qui est beaucoup plus agréable que de se retrouver dans une salle de « cours » froide et impersonnelle !
      Apprendre la couture doit pouvoir être universel : tout le monde est bienvenu, de la personne qui n'a jamais touché une machine ou une bobine à celle qui a déjà de bonnes réalisations à son actif.
      C'est pourquoi Made in chez toi s'occupe de tout, et surtout de fournir tout le nécessaire au bon déroulement de l'atelier : les machines -- une machine électronique haut de gamme par personne --, les tissus adaptés au thème de l'atelier, le fil, le biais, le passe-poil, les fermetures, boutons, règles, ciseaux, découseurs... Tout ce qu'il faut pour pouvoir coudre sans avoir à investir soi-même dans du matériel plus ou moins coûteux. D'ailleurs, chaque atelier est l'occasion de viser ou réviser les concepts de base de la couture, en fonction de votre niveau.</p>
    </div>
  </div>

  <div class="col-md-12 blueBorderContainer" style="margin-left: 20px; margin-right:20px; text-align: left; background-color: #F5F5F5;">
    <div class="col-md-2">
      <img height="50px" width="50px" style="background-color: grey;"/><br/>
      <button type="button" class="btn btn-info">Reservation</button>
    </div>
    <div class="col-md-10">
      <h2 class='text-center'>Les cours particuliers</h2>
        <label>Durée     -     </label> <label>Cadre       -   </label> <label>Lieu</label>
      <p>Tu te reconnais bien ci-dessus mais... pas de chance ! Toutes tes copines qui étaient partantes pour l'atelier se laissent rattraper par... tu sais... les enfants... le boulot... les courses... la famille... Bref, difficile de trouver un créneau pour tout le monde !
    Tu décides de ne plus attendre pour sortir ton livre de couture de l'étagère :) Made in chez toi pense aussi à toi ! La formule Cours Particuliers, c'est le sur-mesure de l'apprentissage de la couture !
    Tu débutes ? On commence pas à pas en détaillant chaque étape, et tu repars vite avec une de tes réalisations ; parce qu'elle est importante, cette première...
    Tu t'y connais déjà un peu ? Made in chez toi arrive là où ça coince ! Tu avances ton projet autant que tu peux/veux, et on se penche sur les difficultés en temps réel pour un temps d'enseignement optimisé.
    Tu n'as pas de machine à coudre ? Tu peux quand même suivre un cours particulier, Made in chez toi t'en fournit une. Oui ! Il faut bien s'y frotter pour s'y piquer, à la couture ! En revanche, les fournitures, elles, ne sont pas fournies. </p>
    </div>
  </div>

  <div class="col-md-12 blueBorderContainer" style="margin-left: 20px; margin-right:20px; text-align: left; background-color: #F5F5F5;">
    <div class="col-md-2">
      <img height="50px" width="50px" style="background-color: grey;"/><br/>
      <button type="button" class="btn btn-info">Reservation</button>
    </div>
    <div class="col-md-10">
      <h2 class='text-center'>Entreprises, CE et projets sur mesure</h2>
        <label>ateliers ou stages  -     </label> <label>à domicile ou dans l'entreprise       -   </label> <label> tout inclus</label>
      <p>Tu te reconnais bien ci-dessus mais... pas de chance ! Toutes tes copines qui étaient partantes pour l'atelier se laissent rattraper par... tu sais... les enfants... le boulot... les courses... la famille... Bref, difficile de trouver un créneau pour tout le monde !
    Tu décides de ne plus attendre pour sortir ton livre de couture de l'étagère :) Made in chez toi pense aussi à toi ! La formule Cours Particuliers, c'est le sur-mesure de l'apprentissage de la couture !
    Tu débutes ? On commence pas à pas en détaillant chaque étape, et tu repars vite avec une de tes réalisations ; parce qu'elle est importante, cette première...
    Tu t'y connais déjà un peu ? Made in chez toi arrive là où ça coince ! Tu avances ton projet autant que tu peux/veux, et on se penche sur les difficultés en temps réel pour un temps d'enseignement optimisé.
    Tu n'as pas de machine à coudre ? Tu peux quand même suivre un cours particulier, Made in chez toi t'en fournit une. Oui ! Il faut bien s'y frotter pour s'y piquer, à la couture ! En revanche, les fournitures, elles, ne sont pas fournies. </p>
    </div>
  </div>

  <div class="col-md-12 blueBorderContainer" style="margin-left: 20px; margin-right:20px; text-align: left; background-color: #F5F5F5;">
    <div class="col-md-2">
      <img height="50px" width="50px" style="background-color: grey;"/><br/>
      <button type="button" class="btn btn-info">Je visite la boutique</button>
    </div>
    <div class="col-md-10">
      <h2 class='text-center'>La boutique</h2>
      <p>
        Vous trouverez dans la boutique des kits de coutures ainsi que la carte cadeau
        lorem ipsum Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset.
        natus apud Tuscos in Massa Veternensi, patre Constantio Constantini fratre imperatoris, matreque Galla sorore Rufini et Cerealis, quos trabeae
        consulares nobilitarunt et praefecturae.
      </p>
    </div>
  </div>


</div>
{% endblock %}
