{% extends 'base.html.twig' %}

{% block body %}
<div class="container" style="background-color:white; text-align:center; padding-left: 100px; padding-right: 30px;">
  <h2 style="color: #a700ab;">Les offres MadeInChezToi</h2>
  <div class="col-md-offset-2 col-md-8">
    <p style="text-align: left;">Decouvrez ici tous ce que nous vous proposons
      projets proposés, exemples de réalisations,
      niveaux de difficulté, et réserve celui qui te plaît le plus !
      Tu retrouveras certains projets dans plusieurs catégories.
      Par exemple les vide-poches sont à la fois des accessoires pour chez toi et des projets initiation !</p>
    </div>


  <div class="col-md-12 blueBorderContainer" style="margin-left:20px; margin-right:20px; text-align: left; background-color: #F5F5F5;">
    <div class="col-md-2">
      <img height="50px" width="50px" style="background-color: grey;"/><br/>
      <button type="button" class="btn btn-primary">Les thèmes</button><br/>
      <button type="button" class="btn btn-info">Reservation</button>
    </div>
    <div class="col-md-10">
      <h2 class='text-center'>Les ateliers</h2>
      <p>Ego vero sic intellego, Patres conscripti, nos hoc tempore in provinciis decernendis perpetuae pacis
        habere oportere rationem. Nam quis hoc non sentit omnia alia esse nobis vacua ab omni periculo atque etiam suspicione belli?
        ibi diu moratur commeatus opperiens, quorum translationem ex Aquitania verni imbres
        solito crebriores prohibebant auctique torrentes, Herculanus advenit protector domesticus, Hermogenis ex magistro equitum filius,
        apud Constantinopolim, ut supra rettulimus, populari quondam turbela discerpti. quo verissime referente quae Gallus egerat, damnis super
        praeteritis maerens et futurorum timore suspensus angorem animi quam diu potuit emendabat.
        ad ultimum admissusque in consis</p>
      <p>nbpersonnes</p>
    </div>
  </div>

  <div class="col-md-12 blueBorderContainer" style="margin-left: 20px; margin-right:20px; text-align: left; background-color: #F5F5F5;">
    <div class="col-md-2">
      <img height="50px" width="50px" style="background-color: grey;"/><br/>
      <button type="button" class="btn btn-primary">Achat rapide</button><br/>
      <button type="button" class="btn btn-info">Achat presonnalisé</button>
    </div>
    <div class="col-md-6">
      <p>Prestation CE</p>
      <p>Le temps d'une heure, toi et tes collègues venez coudre des modèles les plus simples jusqu'au </p>
    </div>
  </div>

  <div class="col-md-12 blueBorderContainer" style="margin-left: 20px; margin-right:20px; text-align: left; background-color: #F5F5F5;">
    <div class="col-md-2">
      <img height="50px" width="50px" style="background-color: grey;"/><br/>
      <button type="button" class="btn btn-primary">Achat rapide</button><br/>
      <button type="button" class="btn btn-info">Achat presonnalisé</button>
    </div>
    <div class="col-md-6">
      <p>Lorem Ipsum</p>
      <p>DESCRIPTION</p>
    </div>
  </div>

  <div class="col-md-12 blueBorderContainer" style="margin-left: 20px; margin-right:20px; text-align: left; background-color: #F5F5F5;">
    <div class="col-md-2">
      <img height="50px" width="50px" style="background-color: grey;"/><br/>
      <button type="button" class="btn btn-primary">Achat rapide</button><br/>
      <button type="button" class="btn btn-info">Achat presonnalisé</button>
    </div>
    <div class="col-md-6">
      <p>Lorem Ipsum</p>
      <p>DESCRIPTION</p>
    </div>
  </div>
</div>
{% endblock %}
