body{
  background: url(../images/MICT/background/bgstar.png);
  /* background: url(../images/MICT/background/bg_blue.jpg); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */

}

h1{
  font-family: "open sans";
  font-size: 50px;
  font-weight: 500;
  color: white;
}
h2{
  font-family: "open sans";
}
.centered{
  text-align:center;
}

.purpleBorderContainer {
  border: solid;
    border-width: 3px;
    border-color: #a700ab;
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 20px 0;
    background-color: #f8f8f8;
}

.blueBorderContainer {
  border: solid;
    border-width: 3px;
    border-color: #0000FF;
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 20px 0;
    background-color: #f8f8f8;
}
