body{
  background: url(../images/MICT/background/papier_m.jpg);
  width: 100%;
  height: 100%;
}
li{
  list-style-type: none;
}


h1{
  font-family: "open sans";
  font-size: 50px;
  font-weight: 500;
}
h2{
  font-family: "open sans";
}
.centered{
  text-align:center;
}


.blueBorderContainer {
  border: solid;
    border-width: 2px;
    /* border-color: #a700ab; */
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 20px 0;
    background-color: none;
    border: 2px dashed #046ca3;
    /* box-shadow: inset 0 -1px 0 0 #046ca3, inset 0 1px 0 0 #046ca3, 0 1px 0 0 #046ca3, 0 -1px 0 0 #046ca3; */
}

.purpleBorderContainer {
    border-width: 2px;
    /* border-color: #a700ab; */
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 20px 0;
    background-color: none;
    border: 2px dashed #a700ab;
    /* box-shadow: inset 0 -1px 0 0 #046ca3, inset 0 1px 0 0 #046ca3, 0 1px 0 0 #046ca3, 0 -1px 0 0 #046ca3; */
}

.purpleBorderContainerSide {
    border-width: 2px;
    /* border-color: #a700ab; */
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 20px 0;
    background-color: none;
    border: 2px solid #a700ab;
    /* box-shadow: inset 0 -1px 0 0 #046ca3, inset 0 1px 0 0 #046ca3, 0 1px 0 0 #046ca3, 0 -1px 0 0 #046ca3; */
}

.darkBlueButton {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 5px 8px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ffffff;
  background-color: #046ca3;
  border-color: #2e6da4;
}

.darkBlueButton:hover {
  background-color: #035682;
}

.lightBlueButton {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 5px 8px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ffffff;
  background-color: #9ac4da;
  border-color: #81b5d1;
}

.lightBlueButton:hover {
  background-color: #68a6c7;
}

#myCarousel img{
  max-height: 450px;
  width: auto;
  margin: 0 auto;
}

.indexList .elem{
  font-weight: bold;
  margin-bottom: 15px;
}

.indexList .elem::before{
 content:url(../images/MICT/decoration/li1.png);
}


.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}

.myNavbar, .myNavbar li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    position: relative;
}

.myNavbar {
    left: 50%;
    min-height: 30px;
    margin-top: 10px;
}

.myNavbar li {
    display: block;
    position: relative;
    border: 2px solid white;
    padding: 0;
    margin-left: 10px;
    right: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}

.myNavbar li:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.myNavbar > li  > a {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.navbar {
    min-height: 0px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}
